
:root {
    --color-primary-one: #04d9ff;
    --color-primary-two: #036dab;
    --color-second-one: #790094;
    --color-second-two: #4f0071;
    --color-bg-dark: #000a1a;
    --color-contrast: #caf0f8;
    
    --font-primary: "Baloo Da 2", serif;
    --font-subtitle: 'Audiowide', cursive;
    --font-text: 'Electrolize', sans-serif;
    --font-action: "Muli", serif;
}

.btnMenu {
    font-weight: bold;
    color: #fff;
    box-shadow: #4f0071 0.1rem 0.1rem 0.1rem;
    width: 8rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    background: var(--color-second-one);
    background: -webkit-linear-gradient(to right, var(--color-primary-one), var(--color-second-one));
    background: linear-gradient(to left, var(--color-primary-one), var(--color-second-one));
    text-shadow: #000 1px 1px 1px; 
}

.btnMenu:hover {
    background: -webkit-linear-gradient(to left, #3fdcfc, #7c00be);
    background: linear-gradient(to left, #3fdcfc, #7c00be);
}