


.btnMenu {
    font-weight: bold;
    color: #fff;
    box-shadow: #4f0071 0.1rem 0.1rem 0.1rem;
    width: 8rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    background: var(--color-second-one);
    background: -webkit-linear-gradient(to right, var(--color-primary-one), var(--color-second-one));
    background: linear-gradient(to left, var(--color-primary-one), var(--color-second-one));
    text-shadow: #000 1px 1px 1px; 
}

.btnMenu:hover {
    background: -webkit-linear-gradient(to left, #3fdcfc, #7c00be);
    background: linear-gradient(to left, #3fdcfc, #7c00be);
}



