.box1 {
    background-color: var(--color-contrast-blue);
    padding: 10px;
    color: var(--color-dark);
}

.box2 {
    background-color: var(--color-dark);
    height: 60px;

}

.redes {
    font-size: 2rem !important;
    color: var(--color-dark);
}

.textos {
    color: #fff;
}

.gridFooter {
    padding: 13px;
    background-color: #ffffff9b;


}

.footer {
    background-color: #06081b;
}

.textFooter {
    font-size: 0.8rem !important;
}