.imagem2{
    background-image: url(https://mundoconectado.com.br/uploads/2022/05/25/25658/cacto.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}