@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

:root {
  --color-light-green: #rgb(0, 255, 204);
  --color-contrast-blue: #caf0f8;
  --color-light-blue: #04d9ff;
  --color-dark-blue: #036dab;
  --color-purple: #4f0071;
  --color-dark: #000a1a;
  --color-yellow: #f7fc9c;
  --color-areia: #fefff1;
  
  --font-titulo: "Baloo Da 2", serif;
  --font-subtitle: 'Audiowide', cursive;
  --font-text: 'Electrolize', sans-serif;
  --font-action: "Muli", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, */
}

body {
  background: url(../src/images/bg_body.jpg) center 0  var(--color-contrast-blue);
}

a {
  color: inherit;
  text-decoration: none;
  color: #0070f3;
}

ul {
	list-style: none;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  
  border: 9px solid;
  border-color: #dbdcef;
  border-right-color: #00aa77;
  animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
  to {
      transform: rotate(1turn);
  }
}


